<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mall.operator.mapper.OperateUserMapper">
    <insert id="createOperator" parameterType="cn.com.mall.entity.OperateUser">
        insert into leyoumall.operate_user(username, real_name, `password`, salt, email, mobile, `status`,
                                           create_time, update_time,head_img)
        VALUES (#{username}, #{realName}, #{password}, #{salt}, #{email}, #{mobile}, #{status},
                now(), now(),#{headImg})
    </insert>

    <select id="getList" resultType="cn.com.mall.entity.OperateUser">
        select user_id,
               username,
               real_name,
               email,
               head_img,
               mobile,
               `status`,
               create_time,
               update_time
        from leyoumall.operate_user
                where deleted = 0
        <if test="operatorId != null">
            and user_id = #{operatorId}
        </if>
        <if test="realName != null and realName != ''">
            and real_name like concat('%', #{realName}, '%')
        </if>
        <if test="mobile != null and mobile != ''">
            and mobile = #{mobile}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
    </select>

    <update id="modifyOperator">
        update leyoumall.operate_user
        set email       = #{email},
            head_img    = #{headImg},
            mobile      = #{mobile},
            real_name   = #{realName},
            username    = #{username},
            update_time = now()
        where user_id = #{operatorId}
    </update>
</mapper>