<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mall.operator.mapper.PmsAttrGroupMapper">
    <select id="getPage" resultType="cn.com.mall.entity.PmsAttrGroup">
        select attr_group_id,
               attr_group_name,
               sort,
               descript,
               cateIds,
               catelog_id,
               create_time,
               update_time
        from leyoumall.pms_attr_group
        <where>
            <if test="groupId != null">
                and attr_group_id = #{groupId}
            </if>
            <if test="attrGroupName != null and attrGroupName != ''">
                and attr_group_name like concat('%', #{attrGroupName}, '%'
            </if>
        </where>
    </select>

    <insert id="addAttrGroup" parameterType="cn.com.mall.operator.pojo.dto.pms.AttrGroupDTO">
        insert into leyoumall.pms_attr_group(attr_group_name, sort, descript, catelog_id, cateIds, create_time,
                                             update_time)
        values (#{attrGroupName}, #{sort}, #{description}, #{catId}, #{cateIds}, now(), now())
    </insert>

    <select id="getAttrGroup" resultType="cn.com.mall.entity.PmsAttrGroup">
        select attr_group_id,
               attr_group_name,
               sort,
               descript,
               catelog_id,
               create_time,
               update_time,
               cateIds
        from leyoumall.pms_attr_group
        where attr_group_id = #{attrGroupId}
    </select>

    <delete id="deleteAttrGroup">
        delete
        from leyoumall.pms_attr_group
        where attr_group_id = #{attrGroupId}
    </delete>

    <update id="putAttrGroup" parameterType="cn.com.mall.operator.pojo.dto.pms.AttrGroupDTO">
        update leyoumall.pms_attr_group
        set attr_group_name = #{attrGroupName},
            sort            = #{sort},
            descript        = #{description},
            catelog_id      = #{catId},
            cateIds         = #{cateIds},
            create_time     = now(),
            update_time     = now()
        where attr_group_id = #{attrGroupId}
    </update>
</mapper>