<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mall.operator.mapper.PmsBrandMapper">
    <select id="getList" resultType="cn.com.mall.entity.PmsBrand">
        select brand_id,
               `name`,
               logo,
               `description`,
               show_status,
               first_letter,
               sort,
               create_time,
               update_time,
               deleted
        from leyoumall.pms_brand
                where deleted = 0
        <if test="brandId != null">
            and brand_id = #{brandId}
        </if>
        <if test="name != null and name != ''">
            and `name` like concat('%', #{name}, '%')
        </if>
        <if test="showStatus != null">
            and show_status = #{showStatus}
        </if>
        <if test="firstLetter != null and firstLetter != ''">
            and first_letter = #{firstLetter}
        </if>
    </select>

    <select id="getBrandById" resultType="cn.com.mall.entity.PmsBrand">
        select brand_id,
               `name`,
               logo,
               `description`,
               show_status,
               first_letter,
               sort,
               create_time,
               update_time,
               deleted
        from leyoumall.pms_brand
        where brand_id = #{brandId}
          and deleted = 0
    </select>

    <insert id="addBrand">
        insert into leyoumall.pms_brand(`name`, logo, `description`, show_status, first_letter, sort, create_time,
                                        update_time, deleted)
        values (#{name}, #{logo}, #{description}, #{showStatus}, #{firstLetter}, #{sort}, now(), now(), 0)
    </insert>

    <update id="modifyBrand">
        update leyoumall.pms_brand
        set `name`       = #{name},
            logo         = #{logo},
            `description`= #{description},
            show_status  = #{showStatus},
            sort         = #{sort},
            update_time  = now()
        where brand_id = #{brandId}
    </update>

    <update id="switchStatus">
        update leyoumall.pms_brand
        set show_status = #{showStatus},
            update_time=now()
        where brand_id = #{brandId}
    </update>
</mapper>