<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mall.api.mapper.SmsCouponMapper">
  <resultMap id="BaseResultMap" type="cn.com.mall.entity.SmsCoupon">
    <!--@mbg.generated-->
    <!--@Table sms_coupon-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="coupon_type" jdbcType="BOOLEAN" property="couponType" />
    <result column="coupon_img" jdbcType="VARCHAR" property="couponImg" />
    <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="per_limit" jdbcType="INTEGER" property="perLimit" />
    <result column="min_point" jdbcType="DECIMAL" property="minPoint" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="use_type" jdbcType="BOOLEAN" property="useType" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="publish_count" jdbcType="INTEGER" property="publishCount" />
    <result column="use_count" jdbcType="INTEGER" property="useCount" />
    <result column="receive_count" jdbcType="INTEGER" property="receiveCount" />
    <result column="enable_start_time" jdbcType="TIMESTAMP" property="enableStartTime" />
    <result column="enable_end_time" jdbcType="TIMESTAMP" property="enableEndTime" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="member_level" jdbcType="BOOLEAN" property="memberLevel" />
    <result column="publish" jdbcType="BOOLEAN" property="publish" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, coupon_type, coupon_img, coupon_name, num, amount, per_limit, min_point, start_time, 
    end_time, use_type, note, publish_count, use_count, receive_count, enable_start_time, 
    enable_end_time, code, member_level, publish, create_time, update_time
  </sql>
</mapper>