<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mall.mapper.SmsSeckillSkuRelationMapper">
  <resultMap id="BaseResultMap" type="cn.com.mall.entity.SmsSeckillSkuRelation">
    <!--@mbg.generated-->
    <!--@Table sms_seckill_sku_relation-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="promotion_id" jdbcType="BIGINT" property="promotionId" />
    <result column="promotion_session_id" jdbcType="BIGINT" property="promotionSessionId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice" />
    <result column="seckill_count" jdbcType="DECIMAL" property="seckillCount" />
    <result column="seckill_limit" jdbcType="DECIMAL" property="seckillLimit" />
    <result column="seckill_sort" jdbcType="INTEGER" property="seckillSort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, promotion_id, promotion_session_id, sku_id, seckill_price, seckill_count, seckill_limit, 
    seckill_sort, create_time, update_time
  </sql>
</mapper>