<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mall.api.mapper.UmsGrowthChangeHistoryMapper">
  <resultMap id="BaseResultMap" type="cn.com.mall.entity.UmsGrowthChangeHistory">
    <!--@mbg.generated-->
    <!--@Table ums_growth_change_history-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="change_count" jdbcType="INTEGER" property="changeCount" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="source_type" jdbcType="TINYINT" property="sourceType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, member_id, create_time, change_count, note, source_type
  </sql>
</mapper>