<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mall.api.mapper.UmsMemberMapper">
    <insert id="register">
        insert into leyoumall.ums_member(email, `password`, salt, nickname, header, create_time, update_time)
        values (#{email}, #{password}, #{salt}, #{nickname}, #{header}, now(), now())
    </insert>

    <update id="forgetPwd">
        update leyoumall.ums_member
        set password=#{pwd},
            salt = #{salt},
            update_time = now()
        where id = #{userId}
    </update>
</mapper>