<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.mall.mapper.UmsMemberCollectSubjectMapper">
  <resultMap id="BaseResultMap" type="cn.com.mall.entity.UmsMemberCollectSubject">
    <!--@mbg.generated-->
    <!--@Table ums_member_collect_subject-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="subject_id" jdbcType="BIGINT" property="subjectId" />
    <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
    <result column="subject_img" jdbcType="VARCHAR" property="subjectImg" />
    <result column="subject_urll" jdbcType="VARCHAR" property="subjectUrll" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, subject_id, subject_name, subject_img, subject_urll, create_time, update_time
  </sql>
</mapper>